<style>
  h1 {
    text-align: center;
  }
</style>
<h1>stepper</h1>
<mat-vertical-stepper>
  <mat-step label="stepping address" completed=false>
    <p>stepping addres details</p>
    <button mat-raised-button matStepperNext>next</button>
  </mat-step>
  <mat-step label="billing address" completed=true>
    <p>billing addresss details</p>
    <button mat-raised-button matStepperPrevious>previouas</button>
    <button mat-raised-button matStepperNext>next</button>
  </mat-step>
  <mat-step label="confirm address" completed=true>
    <button mat-raised-button matStepperPrevious>previouas</button>
    <p>confirm address details</p>
  </mat-step>
</mat-vertical-stepper>
<h1>input</h1>
<mat-form-field>
  <input matInput formControlName="formControlName" type="text" required placeholder="name">
</mat-form-field><br>
<mat-form-field floatLabel="always" hideRequiredMarker="" appearance="outline">
  <mat-label>Enter name</mat-label>
  <input matInput type="text" required>
  <mat-hint align="end"> min 5 character required</mat-hint>
</mat-form-field>
<h1>selection box</h1>
<mat-form-field>
  <mat-select multiple placeholder="topic" [(value)]="selectedvalue">
    <mat-option value="angular">angular</mat-option>
    <mat-option value="node">node</mat-option>
    <mat-option value="react">react</mat-option>
  </mat-select>
</mat-form-field>
{{selectedvalue}}
<h1>autocomplate fieldset</h1>
<form action="">
  <mat-form-field>
    <input type="text" matInput [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayfn">
      <mat-option *ngFor="let obj of object" [value]="obj">
{{obj.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<form>
  <mat-form-field>
    <input type="text" matInput [matAutocomplete]="auto" [ FormControl]="mycontrol">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayfn">
      <mat-option *ngFor="let obj of filteredoptions |async" [value]="obj">
{{obj}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

